setuptools
# Hadron foundation
discovery-core
# Data Science packages
pyarrow
pandas
numpy
scikit-learn
matplotlib
seaborn
scipy
# structure packages
requests
# S3 packages
# boto3
# botocore
# fsspec
# s3fs
# others

